


.order-form{
   
    &__wrapper{
        height: 448px;
        background-image: url(../../assets/images//bg-order.jpg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }
}